* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* .image-grid,
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

img {
  max-width: 100%;
  height: auto;
} */
html {
  height: 100%;
}

body {
  /* height: 100%;
  width: 100%; */
}
nav.nav-menu {
  display: none;
}
#container {
  order: 1;
  display: grid;
  grid-template-columns: 290px 2fr;
  height: 100%;
  overflow: hidden;
}

.brand-logo {
  padding: 0 70px;
}

.brand-logo img {
  width: 130px;
  height: 130px;
  margin-top: 30px;
  margin-left: 7px;
}



.menu-item a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 18px 20px;
  margin: 0px 0px;
  text-align: center;
  color: black;
  font-family: "Lucida Console", monospace;
}

.menu-item a:hover {
  background: rgb(235, 235, 235);
  text-decoration: underline;
  text-decoration-color: rgb(0, 255, 0);
  color: rgb(0, 255, 0);

}

/* Menu */
#menu {
  background: white;

}

#cart {
  background: white;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}




/* Dong 1*/
.slideshow-container {
  max-width: 1246px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 300px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* Dong 2 */


.image-wrapper {
  justify-content: center;
  padding-top: 700px;
  display: flex;
  column-gap: 35px;
  transition: all 0.3s ease-in-out;
}


.image-wrapper img {
  width: 500px;
  height: auto;
}

.image-wrapper.collapsed {
  justify-content: center;
  gap: 0;
}


/* pop up */

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  margin-top: 45px;
  margin-left: 270px;
  padding: 20px;
  width: 50%;
  max-width: 50%;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.menu-mobile {
  display: none;
}

.menu-mobile.active {
  display: block;
  /* or 'flex' depending on your design */
}

.newarr {
  margin-left: 350px;
  margin-top: 60px;
}

.newarr img {
  width: 500px;
  height: auto;
}

.gallery {
  padding-top: 50px;
  display: grid;

}

.gallery__img {
  margin-right: 60px;
  width: 230px;
  height: auto;
}

.gallery__item--1 {
  opacity: 1;
  transition: 0.3s;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 9;
}

.gallery__item--1 img {
  display: block;
  z-index: 2;
}

.gallery__item--1:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: rgba(0, 0, 0, 0.2);
  /*Màu đen với độ mờ là 50%*/
  z-index: 1;
}

.gallery__item--1:hover img {
  transform: translateX(1%);
}

.gallery__item--2 {
  position: relative;
  margin-top: 20px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  margin-top: 20px;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--4 {
  margin-bottom: 100px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--2 img {
  transition: transform 0.3s ease-in-out;
}

.gallery__item--2:hover img {
  transform: scale(1.2);
  /* Phóng to ảnh khi hover */
}

.gallery__item--3 img {
  transition: transform 0.3s ease-in-out;
}

.gallery__item--3:hover img {
  transform: scale(1.2);
  /* Phóng to ảnh khi hover */
}

.gallery__item--4 img {
  transition: transform 0.3s ease-in-out;
}

.gallery__item--4:hover img {
  transform: scale(1.2);
  /* Phóng to ảnh khi hover */
}

.gallery__item--5 img {
  transition: transform 0.3s ease-in-out;
}

.gallery__item--5:hover img {
  transform: scale(1.2);
  /* Phóng to ảnh khi hover */
}

.special-item {
  font-family: 'Gill Sans', sans-serif;
  text-decoration: none;
  text-align: left;
  font-size: 30px;
  margin-top: -3%;
  margin-left: 10px;
}


.column {
  float: left;
  width: 25%;
  padding: 20px;
}




.pro {
  position: relative;
  width: 270px;
  height: auto;
  overflow: hidden;
}

.pro img {


  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.small-images {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.small-images img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.pro:hover .small-images {
  display: flex;
  opacity: 1;
}

.pro:hover img {
  transform: scale(1.2);
}

.parent {
  display: flex;
}


.chinhsach {
  margin-top: 450px;
  position: relative;
  height: 400px;
  width: 100%;
}



.oldp {
  color: #f6eb14;
  font-size: 1.45em;
}

.newp {
  margin-top: 10px;
  font-size: 0.8em;
  text-decoration: line-through;
  color: grey;
}

.left {
  margin-top: 21px;
  padding-left: 105px;
  display: inline-block;
  width: 80%;
  font-size: large;
}

.right {
  margin-top: 11px;
  opacity: 0.7;
  padding-right: 60px;
  text-decoration-color: aliceblue;
  text-decoration: line-through;
  display: inline-block;
  font-size: small;
}

.butt {
  color: rgb(73, 73, 73);
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: -27px;
  max-width: 150px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 30px;
}

.fa:hover {
  color: rgb(0, 255, 0);
}

/* .form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border: #000;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */

.form-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* .form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.form-group input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #19b058;
}

.form-group input:focus {
  outline: none;
  border-color: #00c44e;
}

.form-group input::placeholder {
  color: #999;
}

.form-group .fa {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #24d450;
} */

.terms {
  margin-bottom: 30px;
  font-size: 14px;
  color: #000000;
}

/* button[type="submit"] {
  display: block;
  width: 100%;
  height: 48px;
  margin-top: 30px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;

  transition: background-color 0.2s ease-out;
} */

button[type="submit"]:hover {
  background-color: #4eff54;
  color: white;
}

.signin {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.signin a {
  color: #008c36;
}

.image-grid {
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.email-register {
  border-style: solid;
  border-color: #bbbbbb;
  background-color: #f0f0f0;
  margin-left: 400px;
  padding-left: 10px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-right: 500px;

}

.email-register h2 {
  padding-bottom: 2px;
}


.container1 {
  max-width: 1170px;
  margin: auto;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}
nav.nav-menu {
  display: none;
}
nav.nav-menu ul {
  list-style: none;
  display: block;
}
nav.nav-menu ul li {
  list-style: none;
  display: block;
  color: #4eff54;
}

/* .footer {
  border: solid;
  border-color: #bbbbbb;
  background-color: white;
  padding: 70px 0;
} */

/* .footer-col {
  width: 19%;
  padding: 10px;
} */

.vl {
  border-left: 2px solid #bbbbbb;
  height: 300px;


  margin-left: 10px;
  margin-right: -50px;

}

.ngang {
  border-bottom: 2px solid #bbbbbb;
  height: 20px;


  margin-top: 1px;

}

/* .footer-col h4 {
  font-size: 23px;
  color: black;

  font-weight: bold;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
} */

/* .footer-col h3 {
  margin-right: 0px;
  position: relative;

  text-decoration-color: #bbbbbb;
} */

/* .footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;

  color: rgb(73, 73, 73);
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgb(73, 73, 73);
  padding-left: 8px;
} */

@media only screen and (max-width: 1024px) {
  #container {
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    overflow: hidden;
  }

  /* .small-container .row {
    display: block;
  } */
  .gallery {
    display: none;
  }

  div.image-grid {
    display: none;
  }

  .special-item {
    display: none;
  }

  .newarr {
    display: none;
  }

  .container {
    display: block;
    height: 100%;
    overflow: hidden;
  }

  #menu {
    display: none;
  }

  .menu-mobile {
    display: flex;
    background: white;
    height: auto;
    max-width: 100%;
    justify-content: space-around;
    align-self: center;
    align-items: center;
  }

  .logo img {
    width: 250px;
    height: 250px;
  }

  .cart {
    font-size: 50px;
  }

  .avt {
    /* position: absolute; */
    font-size: 56px;
  }

  .slideshow-container {
    max-width: 1024px;
    position: relative;
    margin: auto;
  }

  .image-wrapper {
    padding-top: 535px;
    column-gap: normal;
  }

  .newarr img {
    padding-right: 180px;

  }

  .gallery {
    padding-left: 50px;
  }

  .special-item {
    margin-top: -80px;
    padding-left: 30px;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-4 {
    flex-basis: 50%
  }

  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .image-grid img {
    max-width: 490px;
    flex-basis: calc(25% - 10px);
    ;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 1023px) {
    .image-grid {
      flex-wrap: wrap;
    }

    .image-grid img {
      flex-basis: calc(50% - 10px);
    }
  }

  .chinhsach {
    margin-top: -20px;
  }

  .nav {
    /* position: relative; */
  }

  .nav-toggle {
    /* position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer; */
    display: block;
  }

  .nav-toggle:focus {
    outline: none;
  }

  .nav-toggle-icon {
    transform: scale(2.5);
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
    transition: all 0.2s ease-in-out;
    position: relative;
  }

  /* .footer-col {
    width: 50%;
    margin-bottom: 30px;
  } */

  .nav-toggle-icon::before,
  .nav-toggle-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  .nav-toggle-icon::before {
    top: -6px;
  }

  .nav-toggle-icon::after {
    bottom: -6px;
  }

  /* .nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    z-index: 1;
  } */
  /* .menu-mobile {
    display: flex;
    flex-direction: column;
} */

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    /* Optional: Add background color */
  }

  .nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-menu {
    flex-direction: column;
    height: 100%;
    top:0;
    width: 200px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-350px);
    z-index: 3;
  }

  input {
    /* display: none; */
    /* visibility: hidden; */
    -webkit-appearance: none;
  }

  .toggle {
    position: absolute;
    height: 50px;
    color: #0b000f;
    top: 50px;
    left: 23px;
    z-index: 4;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .toggle .common {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 3px;
    width: 25px;
    background-color: #12ff00;
    border-radius: 50px;
    transition: 0.3s ease;
  }

  .toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input:checked~.toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
  }

  input:checked~.toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
  }

  input:checked~.toggle .middle_line {
    opacity: 0;
    transform: translateX(20px);
  }

  input:checked~.nav-menu {
    transform: translateX(-80px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  h1 {
    color: #12ff00;
    /* font-weight: 800; */
    text-align: right;
    padding: 10px 0;
    padding-left: 30px;
    pointer-events: none;
  }

  .nav-menu ul li {
    list-style: none;
  }

  .nav-menu ul li a {
    color: #011a41;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
  }

  ul li:hover a {
    color: #fff;
    background-color: #12ff00;
  }

  ul li a i {
    width: 40px;
    text-align: center;
  }

  .show-menu {
    transform: translateX(20px);
  }

  /* .logo {
    padding: 10px;
} */

  .additional-options {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    /* Optional: Add background color */
  }


  .nav-menu.show {
    height: fit-content;
    max-height: 1000px;
    transition: all 0.2s ease-in-out;
  }
  nav.nav-menu {
    display: inline-block;
  }
  nav.nav-menu ul {
    color: #00c44e;
    padding: 0;
    background-color: #fff;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    display: none;
  }

  .overlay.show {
    display: block;
  }
}

/* test */


@media only screen and (max-width: 600px) {
  .menu-item a {
    font-size: 14px;
    /* Adjust font size for readability */
    padding: 10px 5px;
    /* Increase padding for better tap targets */
    display: block;
    /* Make each link take up its own line */
  }

  .logo img {
    width: 150px;
    height: 150px;
  }

  .image-wrapper img {
    width: 100%;
    /* Make images responsive */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 15px;
    /* Add some spacing between images */
  }

  .gallery__item {
    width: 100%;
    /* Stack images vertically */
    margin-bottom: 15px;
    /* Add spacing between images */
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    /* Single column layout */
    gap: 10px;
    /* Add some space between images */
  }

  .row {
    flex-direction: column;
    /* Stack children vertically */
  }

  .row .column {
    width: 100%;
    /* Each column takes full width */
    margin-bottom: 15px;
    /* Add spacing between stacked elements */
  }

  #menu {
    display: none;
  }

  /* Show the mobile menu toggle button */
  .nav-toggle {
    display: block;
  }
}