{%extends "index.html"%} {% block title%}To-Today | About{%endblock%} {% block
content%}

<section class="container">
  <div style="font-size: 2.5rem; margin: 2rem 0; font-weight: 500; text-align:center">
    About To-Today.
  </div>
  <div class="row">
    <div class="col-2">
      <img class="about-img"
      style="height: 350px;"
        src="https://images.news18.com/ibnlive/uploads/2023/04/7536661.jpg"
        alt="clothes images" />
    </div>
    <div class="col-2">
      <p>
        Welcome to To-Today, where we're your ultimate stop for fashion-forward attire and accessories. Our pride lies
        in curating a diverse array of stylish garments, tailored for those who aim to articulate their distinct
        personality through fashion. With an unwavering passion for all things trendy and a dedication to unparalleled
        customer service, our goal is to provide a shopping experience that leaves a lasting impression, surpassing your
        every expectation.
      </p><br>
      <p>
        Here at To-Today, we're a collective of fashion aficionados who view clothing as more than mere fabric—it's a
        conduit for self-expression and a reflection of your unique identity. Recognizing fashion's ability to bolster
        confidence and convey a message, we meticulously handpick each item in our collection, ensuring it encapsulates
        the latest trends without compromising on quality. Committed to staying at the forefront of fashion, our team
        continually anticipates trends, presenting you with the freshest styles from both established designers and
        emerging labels.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>
        Explore our extensive collection, meticulously curated to accommodate every style and occasion. Whether you're
        seeking casual day-to-day outfits or glamorous evening ensembles, we have your needs covered. Dive into our
        selection of chic dresses, seamlessly transitioning from dawn to dusk, or indulge in our cozy yet fashionable
        loungewear for those relaxed moments. Elevate your professional wardrobe with our range of smart and
        sophisticated work attire, exuding professionalism at every turn. And to complete your look, browse through our
        assortment of accessories designed to enhance and refine your style.
      </p>
      <br />
      <p>
        Recognizing that fashion is diverse and personal, we embrace inclusivity by offering a wide array of sizes,
        cuts, and styles, catering to various body types and preferences. Our dedication to quality remains steadfast,
        as each item is thoughtfully handpicked to meet our rigorous standards of craftsmanship, durability, and
        fashion-forward design.
    </div>
    <div class="col-2">
      <img class="about-img" style="height: 350px;"
        src="https://static.joonsite.com/media/JW_2209191753272076.jpg"
        alt="clothes images" />
    </div>
  </div>
</section>

{% endblock %}